<!DOCTYPE html>
<html ng-app="toDoApp">
  <head>
    <meta charset="utf-8" />
    <title>ToDoList App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="styles/main.css" />
  </head>
  
  <body ng-controller="mainCtrl">
    <div id="header">
      <h1>To Do List</h1>
    </div>
    <section>
      <form action="#" ng-submit="addTask()">
        <div class="checkboxes">
          <input ng-show="tasks.length > 0" type="checkbox" ng-click="toogleAll(finished)" ng-model="finished" />
        </div>

        <div class="editTask">
          <input type="text" placeholder="Nouvelle tâche" autofocus autocomplete="off" ng-model="newTask" />
        </div>
      </form>
    
      <div ng-repeat="task in tasks | orderBy:'completed' track by $index" class="repeat">
        <div ng-hide="task.isEdited">
          <div class="checkboxes">
            <input type="checkbox" ng-model="task.completed" ng-click="saveCompleted()" />
          </div>

          <div class="tasks">
            <div id="label" ng-class="{completedTask : task.completed}" ng-dblclick="task.isEdited = true">{{task.task}}</div>
          </div>

          <button class="checkboxes" ng-click="deleteTask(task)">X</button>
        </div>
        <form action"#" ng-submit="doEditing($index)">
          <div class="checkboxes"></div>
          <div class="editTask">
            <input type="text" ng-model="task.task" ng-show="task.isEdited" ng-blur="doEditing($index)" />
          </div>
        </form>
      </div>
      <div>{{remaining}} tâche{{displayPlurial}} restante{{displayPlurial}}.</div>
    </section>

    <script src="scripts/main.js"></script>
  </body>
</html>